<div class="rounded-t mb-0 px-4 py-3 border-0">
  <div class="flex flex-wrap items-center">
    <div class="relative w-full px-4 max-w-full flex-grow flex-1">
      <h3 class="font-semibold text-lg text-blueGray-700">
        {{ location$ | async }} Tides
      </h3>
    </div>
  </div>
</div>
<div class="block w-full overflow-x-auto">
  <table class="items-center w-full bg-transparent border-collapse">
    <thead>
      <tr>
        <th
          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100">
          Date/Time
        </th>
        <th
          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100">
          Height
        </th>
        <th
          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100">
          High/Low
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tide of tides$ | async">
        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
          [ngClass]="tide.eventType == 'LowWater' ? 'bg-red-200' : ''">
          {{ tide.dateTime | date:'EEE HH:mm'}}
        </td>
        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
          [ngClass]="tide.eventType == 'LowWater' ? 'bg-red-200' : ''">
          {{ tide.height | number:'1.2-2'}}
        </td>
        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
          [ngClass]="tide.eventType == 'LowWater' ? 'bg-red-200' : ''">
          {{ tide.eventType }}
        </td>
      </tr>
    </tbody>
  </table>
</div>