<div class="rounded-t mb-0 px-4 py-3 border-0">
  <div class="block w-full overflow-x-auto">
    <button class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold"
      (click)="toggleDropdown($event)" #btnDropdownRef>
      Locations
    </button>
    <div class="z-50" style="min-width: 12rem;" #popoverDropdownRef>
      <div class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1"
        [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'" style="min-width: 12rem;">
        <input 
        type="text" 
        name="filter"
        placeholder="Filter"
        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" 
        ngModel (ngModelChange)="applyFilter($event)"/>
        <button *ngFor="let location of filteredLocations$ | async"
          class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
          (click)="changeLocation(location.id)">
          {{ location.name }}
        </button>
      </div>
    </div>
  </div>
</div>